pkgbase = hyprtia-assistant
	pkgdesc = Compact NyarchAssistant companion for Hyprtia and StratOS
	pkgver = 1.4.5.stratos1
	pkgrel = 1
	url = https://github.com/NyarchLinux/NyarchAssistant
	arch = any
	license = GPL-3.0-only
	makedepends = git
	makedepends = meson
	depends = ffmpeg
	depends = git
	depends = gtksourceview5
	depends = libadwaita
	depends = python
	depends = python-beautifulsoup4
	depends = python-cairo
	depends = python-edge-tts
	depends = python-expandvars
	depends = python-gobject
	depends = python-hatch-fancy-pypi-readme
	depends = python-hatchling
	depends = python-livepng
	depends = python-lxml
	depends = python-lxml-html-clean
	depends = python-markdownify
	depends = python-matplotlib
	depends = python-mcp
	depends = python-newspaper
	depends = python-openai
	depends = python-pillow
	depends = python-pyaudio
	depends = python-pydub
	depends = python-pylatexenc
	depends = python-requests
	depends = python-requests-toolbelt
	depends = python-tiktoken
	depends = vte4
	depends = webkitgtk-6.0
	optdepends = ollama: native offline model server
	optdepends = python-ollama: Ollama model management
	optdepends = python-gtts: automatic language-aware Google TTS
	optdepends = python-speechrecognition: speech recognition support
	provides = nyarchassistant
	conflicts = nyarchassistant-git
	source = NyarchAssistant::git+https://github.com/NyarchLinux/NyarchAssistant.git#commit=bd632c7148d54f7d7cb8a9290862c99e9f66e61e
	source = stratos-minimal.patch
	sha256sums = SKIP
	sha256sums = d93b5a9d1de1383b4665bee9bf3334a3e7596cb95bb05eef271b40ba68663a72

pkgname = hyprtia-assistant
